<div class="country-card">
    <div class="card-img-top">
        <img src="{{flag}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        <h2 class="languages-title">Languages</h2> 
            {{#each languages}}
            <ul class="list-group"></ul>
                <li class="list-group-item">{{name}}</li>
            </ul>
            {{/each}}
    </div>
</div>